body {
  margin: 0;
  font-family: W95FA;
  src: url("./assets/fonts/SSTPro-Light.ttf") format("opentype"),
    url("./assets/fonts/SSTPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: W95FA;
  src: url("./assets/fonts/SSTPro-Light.ttf") format("opentype"),
    url("./assets/fonts/SSTPro-Light.ttf") format("truetype");
}
